.grid {
  border: solid red;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto 1fr 1fr 1fr;
  gap: 1rem;

  grid-template-areas:
    "gridItem1 gridItem2"
    "gridItem3 gridItem4"
    "gridItem5 gridItem5"
    "gridItem6 gridItem6"
    "gridItem7 gridItem7";
  padding: 0.5rem;
}

@media (min-width: 840px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto 1fr 1fr;
    grid-template-areas:
      "gridItem1 gridItem2 gridItem3 gridItem4"
      "gridItem5 gridItem5 gridItem6 gridItem6"
      "gridItem7 gridItem7 gridItem7 gridItem7";
  }
}
