.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto auto 1fr 1fr 1fr;
  gap: 1rem;

  grid-template-areas:
    "gridItem1 gridItem2"
    "gridItem3 gridItem4"
    "gridItem5 gridItem5"
    "gridItem6 gridItem6"
    "gridItem7 gridItem7";
  padding: 0.5rem;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
}

.grid > div {
  min-height: 0;
}

.gridItem1 {
  grid-area: gridItem1;
}
.gridItem2 {
  grid-area: gridItem2;
}
.gridItem3 {
  grid-area: gridItem3;
}
.gridItem4 {
  grid-area: gridItem4;
}
.gridItem5 {
  grid-area: gridItem5;
}
.gridItem6 {
  grid-area: gridItem6;
}
.gridItem7 {
  grid-area: gridItem7;
}

@media (min-width: 980px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto 1fr 1fr;
    grid-template-areas:
      "gridItem1 gridItem2 gridItem3 gridItem4"
      "gridItem5 gridItem5 gridItem6 gridItem6"
      "gridItem7 gridItem7 gridItem7 gridItem7";
  }
}
